body {
    background-color: bisque;
    color: black;
    font-family: "Source Sans Pro","Times New Roman",serif;
}

.img {
    width: 500px;
    height: auto;
    margin: 0px;
}

h1 {
    background-color: maroon;
    color: white;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}